body {
    background-image: url(mtn.jpg);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin:initial;
    background-clip: initial;
    background-color: initial;
    font-size: 100%;
    line-height: 1;
    display: block;
    margin: 8px;
}

article {
  background: #FFF;
  bottom: 15px;
  left:15%;
  overflow:auto;
  padding: 100px 30px 15px;
  position: fixed;
  top: 12%;
  right: 15%;
  z-index: 0;
  display: block;
}
i {
    display: inline-block;
    font-family: 'fa';
    font-style: normal;
    speak: none;
    width: 15%;
  }


nav {
  text-align: center;
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

div {
  float: left;
  min-width: 90px;
  width: 33%;
  display:block;
}

p {
  color: dimgray;
  font-weight: 200;
  line-height 2;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h1 {
  font-size: 150%;
  font-weight: 200;
  margin: 15px 0 -6px;
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: -6px;
  margin-left: 0px;
}

h2 {
  border-bottom: 1px solid lightgray;
  font-size: 100%;
  font-weight: 200;
  margin: 15px 15px -9px 0;
  padding: 0 0 6px;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;

}

html {
  font-family: 'Lato', sans-serif;
}

a{
  color: #006eb8;
  text-decoration:none
}

a img {
  display: inline-block;
}

a:-webkit-any-link {
  cursor: auto;
}

.button {
  background-color: #006eb8;
  color: #fff;
  display: inline-block;
  min-width: 90px;
  margin: 0 0 30px;
  padding: 12px;
}

.profile {
  border: 3px solid white;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  left: calc(50% - 75px);
  position:fixed;
  top: 3%;
  z-index: 1;
}
